appnope
asgiref
attrs
backcall
bleach
decorator
defusedxml
Django
django-cors-headers
django-extensions
djangorestframework
Pillow
entrypoints
gunicorn
importlib-metadata
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
MarkupSafe
mistune
nbconvert
nbformat
notebook
pandocfilters
parso
pexpect
pickleshare
Pillow
prometheus-client
prompt-toolkit
ptyprocess
Pygments
pyrsistent
python-dateutil
pytz
pyzmq
qtconsole
QtPy
Send2Trash
six
sqlparse
terminado
testpath
tornado
traitlets
uWSGI
wcwidth
webencodings
whitenoise
widgetsnbextension
zipp
